p {
  line-height: 1.5em;
  font-size: 2rem;
}
.post {
  background-color: #ddd;
  padding: 20px;
  margin-bottom: 20px;
  width: 500px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
.spoiler {
  background-color: black;
  cursor: pointer;
  transition: 0.6s background;
}
.spoiler:hover {
  background-color: initial;
  color: initial;
}
