html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --blue: #0269a6;
  --yellow: #fecc00;
  --flag-height: 150px;
  --flag-width: calc(var(--flag-height) * 8 / 5);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Start styling */
.flag {
  width: var(--flag-width);
  height: var(--flag-height);
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.stripe {
  background-color: var(--yellow);
}

.stripe-yellow {
  width: calc(var(--flag-height) * 2 / 10);
  height: var(--flag-height);
  position: absolute;
  left: calc(var(--flag-height) / 2);
}

.stripe-yellow2 {
  width: var(--flag-width);
  height: calc(var(--flag-height) * 2 / 10);
}
