html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --search-border: #bbb;
  --search-focus-border: #3a71ca;
  --search-focus-border-t: #3a71ca49;
}

.container {
  padding: 30px;
  height: 200px;
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

#search-field {
  padding: 8px 5px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid var(--search-border);
  transition: 0.3s width linear;
  font-size: 1.1rem;
  line-height: 2;
}

#search-field:focus {
  width: 300px;
  outline: 2px solid var(--search-focus-border-t);
  border-color: var(--search-focus-border);
}

#search-field:focus::placeholder {
  color: transparent;
}
