* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  gap: 15px;
}

span {
  width: 20px;
  height: 20px;
  animation: rotation 1.5s infinite;
}

.red {
  background-color: red;
}

.gold {
  background-color: gold;
}

.blue {
  background-color: blue;
}

@keyframes rotation {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
