html,
body {
  margin: 0;
  padding: 0;
  background-color: #0d1116;
}

:root {
  --graph-bg: #000;
  --default-square-bg: #161b22;
  --level3: darkblue;
  --level5: blue;
  --level10: lightskyblue;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
/* start styling */
.graph {
  display: grid;
  grid-template-columns: repeat(52, 1fr);
  background: var(--graph-bg);
  padding: 1em;
}

.square {
  height: 10px;
  width: 10px;
  background: var(--default-square-bg);
  margin: 3px;
  margin-right: 0;
  border-radius: 2px;
}

[data-value="3"] {
  background-color: var(--level3);
}

[data-value="5"] {
  background-color: var(--level5);
}

[data-value="10"] {
  background-color: var(--level10);
}
