* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #c9d1d9;
}

:root {
  --font-main: "Noto Sans", sans-serif;
  --main-bg: #000;
  --profile-bg: #0d1117;
  --profile-color: #c9d1d9;
  --profile-img-border: #2e343b;
  --username-font-color: #8b949e;
  --username-font-weight: 400;
  --btn-bg: #21262d;
  --btn-color: #c9d1d9;
  --btn-bg-hover: #30363d;
  --btn-border: #373b43;
  --btn-border-hover: #8c949e;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-main);
}

/* start styling */
.profile-container {
  padding: 25px;
  max-width: 400px;
  min-width: 250px;
  margin-inline: auto;
}

.profile-content {
  background-color: var(--profile-bg);
  padding-block: 15px;
  border-radius: 2px;
}

img {
  width: 80%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-inline: auto;
  display: block;
  border: 2px solid var(--profile-img-border);
}

.profile-details {
  padding: 0px 40px;
}

.profile-container h2 {
  padding-top: 15px;
}

.profile-container h3 {
  color: var(--username-font-color);
  font-weight: var(--username-font-weight);
  margin-top: -5px;
  font-size: 1rem;
  margin-bottom: 15px;
}

.profile-details p {
  font-size: 1.12rem;
  width: 90%;
  margin-bottom: 10px;
  line-height: 1;
}

.profile-details button {
  width: 100%;
  cursor: pointer;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  border: 2px solid var(--btn-border);
  padding: 5px;
  border-radius: 5px;
}

.profile-details button:hover {
  background-color: var(--btn-bg-hover);
  border-color: var(--btn-border-hover);
}
