* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  gap: 15px;
}

span {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #aaa;
  animation: scaling 2s ease-in alternate infinite;
}

@keyframes scaling {
  0% {
    background-color: #aaa;
    scale: 1;
  }
  50% {
    background-color: #ccc;
    scale: 1.1;
  }
}
