html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --card-height: 200px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* start styling */
.card {
  border: 1px solid black;
  border-radius: 6px;
  height: var(--card-height);
  width: calc(var(--card-height) * 2 / 3);
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 10px;
  color: red;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left div:last-child,
.right div:last-child {
  font-size: 1.2rem;
  line-height: 1;
}

.middle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.middle div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.middle :nth-child(3),
.middle :nth-child(4) {
  transform: scaleY(-1);
}

.right {
  align-self: flex-end;
  transform: rotate(180deg);
}
