/* Colors 
body background: #131417
tile background: #1e1f26 
username: #b7bbc8
card stats background: #131417
*/

:root {
  --font-main: "Noto Sans", sans-serif;
  --bg-main: #131417;
  --bg-card: #1e1f26;
  --bg-stats: #131417;
  --username: #b7bbc8;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
  color: #fff;
}
p,
h3 {
  margin: 0;
  padding: 0;
}
.card,
img {
  border-radius: 10px;
}
.card {
  max-width: 300px;
  padding: 1em;
  background-color: var(--bg-card);
  margin: auto;
  margin-top: 30px;
}
.card-thumbnail img {
  max-width: 100%;
  object-fit: cover;
}
.card-body {
  margin-top: 1em;
  display: flex;
}
.card-body .card-avatar img {
  height: 50px;
  width: 50px;
  margin-right: 1em;
}
.card-details {
  line-height: 1.5;
}
.card-details h3 {
  font-size: 1rem;
  font-weight: 900;
}
.card-details p {
  font-size: 0.85rem;
  color: var(--username);
}
.card-stats {
  list-style-type: none;
  display: none;
  padding-bottom: 0.5em;
  padding-left: 0px;
}
.card-stats li {
  background-color: var(--bg-stats);
  margin-right: 0.5em;
  padding: 0.25em 0.5em;
  border-radius: 5px;
}
.card:hover .card-stats {
  display: flex;
  padding-bottom: 0;
}
